<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>chat</title>
</head>

<body>
  <div class="chat-container" style="max-width: 600px;margin: 30px auto;border: 1px solid #ddd;box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);">
    <div class="chat-window" style="padding: 14px 0px;margin: 0 20px;border-bottom: 1px solid #e9e9e9; color: #555">
      <div id="output">
        {{#each messages}}
          <p style="color: #aaa; padding: 14px 0; margin: 0 20px;"><strong style="color: blue;">{{this.email}}</strong> 
          <span style="color: brown;">[{{this.date}}]</span>: <i style="color: green;">{{this.message}}</i></p>
        {{/each}}
      </div>
    </div>
    <input type="text" id="email" placeholder="Email">
    <input type="text" id="message" placeholder="Mensaje">
    <button id="send" style="background: #575ed8;color: #fff;font-size: 18px;border: 0;">Send</button>
  </div>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    const socket = io();

    //Obtengo la fecha en el formato DD/MM/YYYY HH:MM:SS
    const date = new Date() 
    const dateFormat = [date.getMonth()+1,
      date.getDate(),
      date.getFullYear()].join('/')+' '+
     [date.getHours(),
      date.getMinutes(),
      date.getSeconds()].join(':');

    let email = document.getElementById("email");
    let message = document.getElementById("message");
    let btn = document.getElementById("send")
    let output = document.getElementById("output")
    let actions = document.getElementById("actions")

    btn.addEventListener('click', function(){
      if(email.value === '') alert("Debes ingresar un correo")
      if(message.value === '') alert("Debes ingresar un mensaje")
      if(email.value !== '' && message.value !== '')
      socket.emit('chat:message', {
        message: message.value,
        date: dateFormat,
        email: email.value
      })
    })
    
    socket.on('chat:message', function(data){
      console.log(data)
      output.innerHTML += `<p style="color: #aaa; padding: 14px 0; margin: 0 20px;">
          <strong style="color: blue";>${data.email}</strong> <span style="color: brown;">[${data.date}]</span>: <i style="color: green;">${data.message}</i></p>
        `
    })
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>